.cabecalho {
    display: flex;
    width: 100%;
    background-color:#fff;
    z-index: 1;
    top: 0;
    box-shadow: 0 10px 10px rgb(181, 181, 181);
    align-items: center;
    position: fixed;
}

.cabecalho h1 {
    margin: 0 0 0 5%;
}

.link {
    list-style-type: none;
    display: flex;
}

.link li {
    margin-right: 30px;
}